/* Navbar verticale */
.navbar-vertical {
    width: 200px;
    height: 90%;
    background: linear-gradient(0deg, rgb(232 117 173 / 61%) 0%, #B5FFFC 100%);
    box-shadow: 0px 4px 10px 1px #B9B9B9;
    position: fixed;
    top: 15px;
    left: 15px;
    border-radius: 20px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-vertical .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 18px;
  }

  .navbar-vertical .logo-container .logo {
    width: 80px;
  }
  
  .navbar-vertical ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .navbar-vertical ul li {
    margin: 10px 22px;
    text-align: left;
  }

  .navbar-vertical ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 4px 0px;
    width: 100%;
  }
  
  .navbar-vertical ul li a:hover {
    font-weight: bold;
    color: rgb(232, 117, 173);
  }
  
  .navbar-vertical button {
    background-color: #e74c3c; /* Rouge pour la déconnexion */
    color: #fff; /* Texte blanc */
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-vertical button:hover {
    background-color: #c0392b; /* Rouge plus foncé au survol */
  }
  
  /* Responsive : Masquer la navbar sur les petits écrans */
  @media (max-width: 768px) {
    .navbar-vertical {
      width: 100%;
      height: auto; /* Adapte la hauteur */
      position: relative; /* Pas de position fixe sur les petits écrans */
    }
  
    .navbar-vertical ul {
      display: flex;
      flex-direction: row; /* Affiche les liens horizontalement */
      justify-content: space-around;
    }
  
    .navbar-vertical li {
      margin-bottom: 0; /* Supprime l'espacement vertical */
    }
  }  

/* Navbar horizontal */
.head-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.head-nav .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.head-nav .logo-container .logo {
  width: 80px;
}

.head-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.head-nav ul li {
  margin: 10px 22px;
}

.head-nav ul li a {
  color: #333;
  text-decoration: none;
}
.head-nav ul li a:hover {
  color: #ee9ddf;
  text-decoration: none;
}

.head-nav ul .account-btn {
  padding: 8px 12px;
  border-radius: 8px;  
  background-color: #ee9ddf;
  color: #fff;
}

.head-nav ul .account-btn:hover {
  background-color: #f0d0ea;
  color: #333
}